{% extends "base.html" %}
{% load tz %}

{% block title %} My Tests {% endblock %}


{% block content %}
    <h1>List of tests</h1>

    {{ locale }}
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Passes</th>
            <th>Creation date</th>
        </thead>

        <tbody>
            {% for test in tests %}
                <tr>
                    <td>{{ test.id }}</td>
                    <td>{{ test.title }}</td>
                    <td>{% if test.passes > 0 %}+{% else %}-{% endif %}</td>
                    <td>{{ test.creation_date|timezone:client_zone|date:"Y-m-d H:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
