{% extends 'base.html' %}


{% block title %}On testing{% endblock %}


{% block content %}
    <h1>Working on test: {{ test.title }}</h1>

    <form method="POST">
        {% csrf_token %}
        {% for question in questions %}
            <label>Question {{ forloop.counter }}</label>
            <textarea class="form-control" disabled>{{ question.question }}</textarea>

            <div>Answers</div>
            {% for answer in question.answer_set.all %}
                <div class="form-group">
                    <input type="radio" name="answer-for-{{ question.id }}" value="{{ answer.id }}">
                    <input type="text" value="{{ answer.text }}" disabled class="form-control">
                </div>
            {% endfor %}
            <br><hr><br>
        {% endfor %}

        <button type="submit" class="btn btn-primary">End test</button>
    </form>
{% endblock %}
