{% extends 'base.html' %}


{% block content %}
    <h1>Working on test: {{ test.title }}</h1>

    <form method="POST">
        {% csrf_token %}
        {% for question in questions %}
            <label>Question {{ forloop.counter }}</label>
            <textarea disabled>{{ question.question }}</textarea>

            <div>Answers</div>
            {% for answer in question.answer_set.all %}
                <div>
                    <input type="radio" name="answer-for-{{ question.id }}" value="{{ answer.id }}">
                    <input type="text" value="{{ answer.text }}" disabled>
                </div>
            {% endfor %}
        {% endfor %}

        <button type="submit">End test</button>
    </form>
{% endblock %}
