{% extends "base.html" %}


{% block title %} Test details {% endblock %}


{% block content %}
    <h1>Test details</h1>

    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" value="{{ test.title }}" disabled>
    </div>

    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" disabled>{{ test.description }}</textarea>
    </div>

    <div class="form-group">
        <label>Passes:</label>
        <input type="number" class="form-control" value="{{ test.passes }}" disabled>
    </div>


    {% if test_result %}
        <div> Passed date: {{ test_result.passed_date }} </div>
        <div> Correct answers: {{ test_result.corrects }} / {{ test_result.total }} </div>
        <div> Correct percent: {{ correct_percent|floatformat:"-1" }}% </div>
    {% endif %}

    {% if test.state == 'Z' %}
        <a href="{% url 'running_test' test.id %}">Pass test</a>
    {% else %}
        <a href="{% url 'question_list' test.id %}">Finish test creation</a>
    {% endif %}

    <hr>

    <h2>Comments:</h2>

    <form method="POST" enctype="multipart/form-data" action="{% url 'comment' %}">
        {% csrf_token %}
        <input type="hidden" name="test_id" value="{{ test.id }}">
        <div class="form-group">
            <label>Your comment</label>
            <textarea name='text' class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Send comment</button>
    </form>

    <hr>
    {% for comment in comments %}
        <textarea class="form-control" disabled>{{ comment.text }}</textarea>
    {% endfor %}

{% endblock %}
